body {
  padding: 0;
  width: 600px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.hidden {
  display: none;
}

.image-container {
  margin-top: 10px;
  width: 600px;
  height: 200px;
  border-radius: 15px;
}

.number-header,
.kind-of-header,
.category-header,
.not-eat-header {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.number-header h2,
.kind-of-header h2,
.category-header h2,
.not-eat-header h2 {
  margin: 0;
  color: #3c2e51;
  font-size: 20px;
  font-weight: bold;
}

.header-circle-mark {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #3c2e51;
  border-color: #3c2e51;
  border-radius: 5px;
}

.not-eat-circle-mark {
  margin-right: 6px;
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid #3c2e51;
  border-radius: 5px;
}

/* item-container section*/
.number-item-container,
.kind-of-item-container,
.category-item-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.not-eat-item-container {
  margin-left: 20px;
}

.number-item,
.kind-of-item,
.category-item {
  margin-top: 8px;
  margin-right: 10px;
  width: 75px;
  height: 45px;
  border: solid 2px #cfc5e2;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: #3c2e51;
  cursor: pointer;
}

.number-item label,
.kind-of-item label,
.category-item label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 45px;
  padding: auto;
  cursor: pointer;
  transition: all 0.2s;
}

.number-item input[type='radio'],
.kind-of-item input[type='radio'],
.category-item input[type='radio'] {
  display: none;
}

.number-item input[type='radio']:checked + label,
.kind-of-item input[type='radio']:checked + label,
.category-item input[type='radio']:checked + label {
  border: 0;
  background-color: #cfc5e2;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #3c2e51;
}

.not-eat-item {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.not-eat-item span {
  color: #3c2e51;
  font-weight: bold;
}

.not-eat-item input {
  width: 380px;
  height: 30px;
  border: solid 2px #cfc5e2;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  margin-left: 10px;
}

.confirm-form {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.confirm-form button {
  font-size: 20px;
  font-weight: bold;
  color: #3c2e51;
  width: 180px;
  height: 50px;
  background-color: #cfc5e2;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.confirm-form button:active {
  box-shadow: inset 2px 2px 8px #3c2e51;
}

/* result section */
.result-menu-container {
  margin: 20px auto;
  width: 580px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result-menu-item {
  width: 266px;
  height: 266px;
  margin: 0 10px 20px 10px;
  border: 2px solid #cfc5e2;
  border-radius: 10px;
}

.result-number {
  display: block;
  margin: 2px 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #3c2e51;
}

.result-image {
  display: block;
  width: 178px;
  height: 178px;
  border: 1px solid #3c2e51;
  border-radius: 5%;
  margin: 0 auto;
  object-fit: cover;
}

.result-menu-title {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #3c2e51;
}

.retry-form {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.retry-form button {
  font-size: 20px;
  font-weight: bold;
  color: #3c2e51;
  width: 180px;
  height: 50px;
  background-color: #cfc5e2;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.retry-form button:active {
  box-shadow: inset 2px 2px 8px #3c2e51;
}

@media (max-width: 599px) {
  body {
    width: 100%;
  }

  .image-container {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .image-container img {
    max-width: 100%;
    object-fit: cover;
  }

  .option-container {
    margin: 20px 10px 0 10px;
    width: 100%;
  }

  .number-header,
  .kind-of-header,
  .category-header {
    margin-top: 18px;
  }

  .number-item,
  .kind-of-item,
  .category-item {
    margin-top: 10px;
    margin-right: 12px;
  }

  .not-eat-item {
    margin-top: 12px;
  }

  .not-eat-item input {
    margin-left: 8px;
    width: 65vw;
  }

  .result-menu-container {
    width: 100%;
  }

  .result-menu-item {
    margin: 0 2vw 4vw 2vw;
    width: 240px;
    height: 240px;
  }

  .result-number {
    font-size: 16px;
  }

  .result-image {
    width: 178px;
    height: 178px;
  }

  .result-menu-title {
    margin: 6px 0;
    font-size: 16px;
  }

  .retry-form button {
    font-size: 16px;
    width: 35vw;
  }
}
