body {
  margin: 0;
  padding: 0;
  width: 600px;
  margin: 0 auto;
}

.image-container {
  margin-top: 20px;
  width: 600px;
  height: 250px;
  background-color: #d5cee2;
  border-radius: 15px;
}

.number-header,
.kind-of-header,
.category-header,
.not-eat-header {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.number-header h2,
.kind-of-header h2,
.category-header h2,
.not-eat-header h2 {
  margin: 0;
  color: #3c2e51;
  font-size: 20px;
  font-weight: bold;
}

.header-circle-mark {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #3c2e51;
  border-color: #3c2e51;
  border-radius: 5px;
}

.number-item-container,
.kind-of-item-container,
.category-item-container {
  display: flex;
  flex-wrap: wrap;
}

.number-item,
.kind-of-item,
.category-item {
  margin-top: 8px;
  margin-right: 10px;
  width: 75px;
  height: 45px;
  border: solid 2px #cfc5e2;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  color: #3c2e51;
}
